div#search
  label
    | # antigo:
    input
  button buscar

table.hidden
  thead
    tr
      th Área
      th Número antigo
      th Número novo
      th Itinerário
      th Circular/Rápido/Expresso/Parador
  tbody
    tr
      td.area
      td.prev-num
      td.curr-num
      td.it
      td.extras

