div#search
  div
    label
      | nº antigo:
      input#prev(type='number', value='175')
  div
    span ou
    label
      | nº novo:
      input#curr(type='number')
  button buscar

img(src='/img/ad.png')

table.hidden
  thead
    tr
      th nº antigo
      th nº novo
      th itinerário
      th obs.
      th área
  tbody
    tr
      td.prev-num
      td.curr-num
      td.it
      td.extras
      td.area

