div#search
  div
    label(for='prev') nº antigo:
    input#prev(type='number')
  div
    span ou
    label(for='curr') nº novo:
    input#curr(type='number')

div#result.hidden
  div.item
    div.numbers
      span.prev-num
      label ─►
      span.curr-num
    div.it
    div.extras
    div.area

p#empty.hidden

img.ad(src='/img/ad.png')

div#footer
  span Fonte:
  a(href='http://www.fetranspor.com.br/images/stories/noticias/tabeladelinhas.pdf', target='_blank') Tabela de linhas - Fetranspor
