div.cont
  div#search
    div
      label(for='prev') nº antigo:
      input#prev(type='number')
    div
      span ou
      label(for='curr') nº novo:
      input#curr(type='number')

button#scroll.hidden
  span ↓

p#summary.hidden

div#result.hidden
  div.item
    div.numbers
      span.prev-num
      label 
        span ─►
      span.curr-num
    div.it
    div.extras
    div.area

iframe(src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fnovosnumerosonibus.com%2F&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:300px; height:35px; margin-left: 10px;", allowTransparency="true")

div.cont
  div.ad
    script(type="text/javascript")
      if(isMobile)
        document.write(mobile_ad);
      else
        document.write(desktop_ad);

  a#googleplay(href='http://play.google.com/store/apps/details?id=com.novosnumerosonibus', target='_blank', title='App Android no Google Play')
    img(alt='App Android no Google Play', src='http://www.android.com/images/brand/android_app_on_play_logo_large.png')

  div#footer
    span Fontes:
    ul
      li
        a#number-source(href='http://www.fetranspor.com.br/images/stories/noticias/tabeladelinhas.pdf', target='_blank') Tabela de linhas - Fetranspor
      li
        a#brs-source(href='http://www.fetranspor.com.br/brs/brs.php', target='_blank') Informações BRS - Fetranspor

    span.info Este site não é propriedade, não é operado nem possui nenhum vínculo com a Prefeitura do Rio de Janeiro, com a Fetranspor ou com o Rio Ônibus.
    span.info
      a(href='mailto:contato@novosnumerosonibus.com') contato@novosnumerosonibus.com
