div#search
  div
    label(for='prev') nº antigo:
    input#prev(type='number')
  div
    span ou
    label(for='curr') nº novo:
    input#curr(type='number')

p#summary.hidden

div#result.hidden
  div.item
    div.numbers
      span.prev-num
      label 
        span ─►
      span.curr-num
    div.it
    div.extras
    div.area

div.ad
  script(type="text/javascript")
    if(isMobile)
      document.write(mobile_ad);
    else
      document.write(desktop_ad);

a(href='#/todas/')#list-all listar todas as linhas

div#footer
  span Fontes:
  ul
    li
      a#number-source(href='http://www.fetranspor.com.br/images/stories/noticias/tabeladelinhas.pdf', target='_blank') Tabela de linhas - Fetranspor
    li
      a#brs-source(href='http://www.fetranspor.com.br/brs/brs.php', target='_blank') Informações BRS - Fetranspor

  span.info Este site não é propriedade, não é operado nem possui nenhum vínculo com a Prefeitura do Rio de Janeiro, com a Fetranspor ou com o Rio Ônibus.
  span.info
    a(href='mailto:contato@novosnumerosonibus.com') contato@novosnumerosonibus.com
