div#search
  label
    | nº antigo:
    input#prev
  span ou
  label
    | nº novo:
    input#curr
  button buscar

table.hidden
  thead
    tr
      th Número antigo
      th Número novo
      th Itinerário
      th Circular/Rápido/Expresso/Parador
      th Área
  tbody
    tr
      td.prev-num
      td.curr-num
      td.it
      td.extras
      td.area

