!!! 5
html
  head
    meta(charset='utf-8')
    title Novos números de ônibus no Rio
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='icon', type='image/png', href='/img/favicon.png')
    link(rel='apple-touch-icon', href='/img/iphone-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/img/ipad-icon.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/img/iphone4-icon.png')
    link(rel='stylesheet', href='/css/add2home.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
    script(type='text/javascript', src='/js/scripts.js')
    script(type='text/javascript', src='/js/add2home.js')
    - if(codes)
      - var code = '<script type="text/javascript">' + codes.join('\r\n') + '</script>';
      != code
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4475762-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    h1
      span Novos números de ônibus no Rio
    != body

