!!! 5
html
  head
    title Novos números de ônibus no Rio
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
    script(type='text/javascript', src='/js/scripts.js')
    - if(codes)
      - var code = '<script type="text/javascript">' + codes.join('\r\n') + '</script>';
      != code
  body
    h1
      a(href='/') Novos números de ônibus no Rio
    != body
