body { background-color: #fff; }

input {  
  background: #fff;
  color: #222;
  outline: none;
  border: #8d8d8d solid 0.04em;
  border-radius: 0.15em;
  -webkit-box-shadow: inset 0.04em 0.04em 0.12em #999;
  box-shadow: inset 0.04em 0.04em 0.12em #999;
}


/* Pixel ratio of 2. Background-size is 1/2 = 50% (of a 200px image) */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #result .numbers label { background-image: url('../img/hires/arrow.png'); background-size: 100%; }
  #scroll { background-image: url('../img/hires/arrow-down.png'); background-size: 50%; }
}

