body {
  font: 1em sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4 { margin: 0.5em; }

.hidden { display: none; }

h1 { font-size: 1.6em; background-color: #666; color: #fff; margin: 0; margin-bottom: 0.5em; padding: 0.5em; }

h1 {
  margin-bottom: 0.4em;
  background: 1em center no-repeat, 100% center repeat;
  
  background-image: url('../img/bus_header.png'), 
    linear-gradient(bottom, rgb(48,81,102) 29%, rgb(53,89,112) 65%);
  background-image: url('../img/bus_header.png'), 
    -o-linear-gradient(bottom, rgb(48,81,102) 29%, rgb(53,89,112) 65%);
  background-image: url('../img/bus_header.png'), 
    -moz-linear-gradient(bottom, rgb(48,81,102) 29%, rgb(53,89,112) 65%);
  background-image: url('../img/bus_header.png'), 
    -ms-linear-gradient(bottom, rgb(48,81,102) 29%, rgb(53,89,112) 65%);
  -webkit-background-size: 1.5em 1.83em, 100% 100%;
  background-image: url('../img/bus_header.png'), 
    -webkit-gradient(
    linear,
	  left bottom,
	  left top,
	  color-stop(0.29, rgb(48,81,102)),
	  color-stop(0.65, rgb(53,89,112))
  );
  background-size: 1.5em 1.86em, 100% 100%;

  /* IE <= 8 */
  background: url('../img/bus_header_ie.png') 1em center no-repeat\9;

  padding: 0.75em;
  padding-left: 3.5em;
  text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 1);
  color: #efece9;
  background-color: #355970;
  -webkit-box-shadow: 0em 0.1em 0.12em #999;
  box-shadow: 0em 0.1em 0.12em #999;
  border-bottom: 1px solid #2e4e61;
}


div#search, div#result, #summary, #list-all { padding: 0 10px; margin-bottom: 1.2em; }

div#search input { width: 4em; padding: 0.1em; text-align: center; font-size: 2.8em; font-weight: bold; }

div#search span { display: block; width: 4.2em; text-align: right; }
div#search label { width: 4.5em; float: left; padding-top: 1.4em; padding-right: 0.6em; text-align: right; white-space: nowrap; }
div#search input { float:left; }
div#search div { overflow: auto; }

div#search div * { vertical-align: middle; }

div#search input {  
  background: #fff;
  color: #222;
  outline: none;
  border: #8d8d8d solid 1px;
  border-radius: 0.15em;
  -webkit-box-shadow: inset 0.04em 0.04em 0.12em #999;
  box-shadow: inset 0.04em 0.04em 0.12em #999;
}

button { font-size: 1em; }

#result .numbers label { margin: 0; background: url('../img/arrow.png') center center no-repeat; }
#result .numbers label span { visibility: hidden; }
#result .numbers * { vertical-align: middle; }
#result .prev-num, #result .curr-num { font-size: 2.8em; font-weight: bold; }
#result .it { font-size: 1.4em; margin: 0.3em 0; padding-left: 1.2em; }
#result .extras, #result .area { padding-left: 1.7em; }
#result .item { padding: 1em 0; border-top: 1px solid #ccc; }
#result .numbers { border-left: 1.1em solid #eee; padding-left: 0.5em; }
#result .prev-num.inexistant { font-size: 1em; }

div.ad.spaced { padding: 0 10px; }

#footer { padding: 10px; font-size: 0.7em; }
#footer span { margin-right: 0.5em; }

#summary { padding 1em; }

#result .item.area-a .numbers { border-left-color: #fcc91a; }
#result .item.area-b .numbers { border-left-color: #9cd52e; }
#result .item.area-c .numbers { border-left-color: #638da3; }
#result .item.area-d .numbers { border-left-color: #e8273b; }

#list-all { display: block; margin: 0px; padding-top: 0.2em; }

#footer ul, #footer li { padding: 0px; margin: 0px; list-style-type: none; }

#footer span.info { display: block; margin-top: 1em; }

#scroll { border: 0px; background: url('../img/arrow-down.png') center center no-repeat; width: 43px; height: 40px; position: absolute; padding: 0px; }
#scroll span { display: none; }

